.command-form {
  margin-top: 10px;
}

form {
  background: #555;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 15px;
}

.button,
input {
  border: none;
  border-radius: 4px;
  color: #222;
  height: 30px;
  outline: none;
  width: 100%;
}

.button {
  background: rgb(214, 214, 214);
  color: #222;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

form input {
  font-family: 'Courier New', Courier, monospace;
}

.button:hover {
  background: rgb(175, 174, 174);
}

.command-form-button {
  display: flex;
}