.output {
  align-content: center;
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  font-weight: bold;
  justify-content: space-between;
  margin: 5px 0 10px 0;
  border-radius: 5px;
}

.output-result {
  margin: auto;
}

.output-text {
  color: rgb(75, 255, 51);
  background: #333;
}

.output-error {
  color: rgb(255, 240, 156);
  background: rgba(126, 4, 4, 0.977);
}

.output-close-button {
  background: #888;
  border-radius: 4px;
  font-size: 14px;
  height: 34px;
  width: 34px;
  color: inherit;
  outline: none;
  border: none;
}

.output-close-button:hover {
  background: #777;
}

.output-close-button-error {
  background: rgba(198, 4, 4, 0.977);
}

.output-close-button-error:hover {
  background: rgba(219, 2, 2, 0.977);
}

img {
  display: flex;
  align-self: auto;
  height: auto;
  width: 96%;
}