.drugs h2 {
  background: #7887b6;
}

.drugs ul li {
  background: #92a1ce;
  height: 25px;
}

.drugs ul li.given-drug,
.drugs h2.given-drug {
  background: #3a5092;
}

.drugs ul li.given-drug:hover {
  background: #263a77;
}

.drugs ul li.given-drug header,
.drugs h2.given-drug {
  color: rgb(214, 214, 214);
}

.drugs ul li.given-drug:hover {
  color: rgb(214, 214, 214);
}

.drugs ul li:hover {
  background: #7b8ab8;
}