.dashboard {
  border: 10px;
  background: rgb(233, 233, 233);
  border-radius: 5px;
  color: #444;
  margin: auto;
  max-width: 600px;
  min-width: 320px;
  padding-top: 1px;
  padding-bottom: 50px;
}

h2 {
  border: 0;
  border-radius: 5px;
  color: #444;
  font-size: 18px;
  height: 35px;
  margin: 10px 0 5px 0;
  padding-top: 10px;
}

ul {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul li {
  border-radius: 5px;
}

ul li header {
  background-size: cover;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
}

ul li strong {
  color: #999;
  font-size: 22px;
  min-height: 7vh;
}
